---
import '../styles/base.css'
import Technologies from "./Technologies.astro";
import {
	IconSun,
	IconGithub,
	IconGitlab,
	IconAstro,
	IconUser,
	IconBlog,
	IconHome,
} from "../components/icons";
import RoundIconButton from "./RoundIconButton.astro";
import SquareIconLink from "./SquareIconLink.astro";
import IconCv from './icons/IconCv.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>

	<body
		class="flex flex-col items-center justify-center relative box-border min-h-screen lg:overflow-hidden bg-light-primary dark:bg-gradient-main-dark"
	>
		<Technologies />
		<main
			class="flex flex-col p-4 m-4 md:p-8 md:my-10 md:mx-12 lg:my-0 w-fit lg:w-[calc(100vw_-_50%)] rounded-tr-2xl rounded-tl-lg rounded-b-lg bg-gradient-box-light shadow-sky-light dark:bg-box-dark dark:shadow-orange-dark min-h-[calc(100vh_-_80px)] lg:h-[calc(100vh_-_100px)] justify-between"
		>
			<div class="flex w-full justify-between relative mb-2 md:mb-4">
				<div
					class="flex flex-col text-xl w-fit text-light-blue-dark dark:text-dark-blue-light"
				>
					<h1 class="font-black leading-extra-loose md:text-3xl 2xl:text-4xl">
						Julien Bailly
					</h1>
					<h1 class="font-thin leading-extra-loose text-sm md:text-2xl 2xl:text-4xl">
						Développeur Web
					</h1>
				</div>

				<div
					class="flex w-fit h-fit px-1.25 py-1.25 ml-4 2xl:ml-8 shadow-switcher rounded-2xl dark:bg-buttons-box-dark dark:shadow-box-dark-out"
				>
					<div
						class="dark:shadow-buttons-box-dark rounded-2xl w-min flex sm:w-full px-1.5 py-1.5 md:px-3 md:py-3 h-fit"
					>
						<RoundIconButton
							srOnly="Theme color switcher"
							type="button"
							onclick="window.toggleTheme()"
						>
							<IconSun />
						</RoundIconButton>
						<span class="mr-4"></span>
						<SquareIconLink
							title="Accéder à mon gitlab"
							href="https://gitlab.com/users/julienbailly/groups"
							target="_blank"
						>
							<IconGithub />
						</SquareIconLink>
											<SquareIconLink
						title="Mon CV"
						target="_blank"
						href="https://julienbailly.ddns.net/cv"
					>
						<IconCv />
					</SquareIconLink>
					</div>
				</div>
			</div>
			<slot />

			<div
				class="flex self-end w-fit px-1.25 py-1.25 shadow-box-up rounded-2xl dark:bg-box-dark dark:shadow-box-dark-out"
			>
				<div class="dark:shadow-buttons-box-dark rounded-2xl w-full px-1.5 py-1.5 md:px-3 md:py-3">

					<SquareIconLink title="Revenir à la page d'accueil" target="_self" href="/">
						<IconHome />
					</SquareIconLink>
					<SquareIconLink
						title="Me connaitre"
						target="_self"
						href="/about"
					>
						<IconUser />
					</SquareIconLink>
					<SquareIconLink
						title="Quelques projets hébergés"
						target="_self"
						href="/projets"
					>
						<IconBlog />
					</SquareIconLink>



				</div>
			</div>
		</main>

		<script is:inline>
			const toggleTheme = () => {
				document.documentElement.classList.toggle("dark");
				localStorage.theme = document.documentElement.classList.contains("dark")
					? "dark"
					: "light";
			};

			window.toggleTheme = toggleTheme;

			if (localStorage.theme === "dark") {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</body>
</html>
